*{
    box-sizing: border-box;
    padding: 0;
    margin: 0  ;
}
li{
    list-style: none;
}
.header_catalog_logo_block,
.footer_container1{
    width: 1440px;
    margin: 0px auto;
}
.header_catalog_logo_block{
    height: 175px;
    background-color: #0E0D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 17px;
}
.logo_user_content_block{
    width: 1302px;
    display: flex;
    align-items: center;
}
.logo_user_content_block p:hover,
.footer_info_block1 a:hover,
.logo_footer:hover,
h1:hover{
    color: #cfcfcf;
}
.city_language_block{
    width: 190px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.city{
    width: 114px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.city img{
    margin-left: 10px;
}
.language{
    width: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.language img{
    margin: 6px 0px 0px 8px;
}
.Logo{
    display: block;
    display: flex;
    justify-content: center;
    margin-left: 379px;
}
.search_prof_like_basket{
    margin-left: 214px;
    display: flex;
    align-items: center;
    height: 72px;
}
.sub_search_block,
.sub_like_block{
    display: flex;
    align-items: center;
    width: 74px;
    height: 34px;
}
.sub_search_block{
    padding-left: 20px;
}
.sub_like_block{
    padding-left: 30px;
}
.sub_profile_block,
.sub_basket_block{
    width: 84px;
    height: 34px;
    border-left: 2px solid #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_profile_block{
    border-right: 2px solid #ffff;
}
.catalog_block{
    margin-top: 32px;
}
.catalog_ul{
    width: 1224px;
    display: flex;
}
.catalog_ul li{
    height: 32px;
    display: flex;
    align-items: center;
}
.catalog_ul a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffff;
    bottom: 0;
    left: -100%;
    transition: 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.catalog_ul a:hover:after{
    left: 0px;
    transition: 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
}
.catalog_li_7{
    width: 240px;
    padding-left: 40px;
}
.catalog_li_6{
    width: 184px;
}
.catalog_li_5{
    width: 148px;
}
.catalog_li_4{
    width: 146px;
}
.catalog_li_3{
    width: 134px;
}
.catalog_li_2{
    width: 122px;
}
.catalog_li_1{
    width: 250px;
    padding-left: 128px;
}
.catalog_li_2,
.catalog_li_3,
.catalog_li_4,
.catalog_li_5,
.catalog_li_6{
    display: flex;
    justify-content: center;
}
.catalog_li_2,
.catalog_li_4,
.catalog_li_6{
    border-left: 2px solid #ffff;
    border-right: 2px solid #ffff;
}
.footer_wrapper1{
    display: flex;
    justify-content: center;
    margin-top: 72px;
}
.footer_container1{
    height: 376px;
    padding-top: 24px;
    background-color: #0E0D0D;
}
.footer_user_block1{
    width: 1307px;
    display: flex;
    justify-content: space-between;
}
.footer_input_block{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80px;
}
.footer_user_block1,
.footer_info_wrapper1{
    margin: 0px auto;
}
.input{
    width: 258px;
    height: 32px;
    background-color: #2F2F2F;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}
.input input{
    background-color: #2F2F2F;
    width: 220px;
    border: none;
    outline: none;
    color: #FEFEFE;
}
.footer_imgs_block img:hover{
    filter: grayscale(200%) brightness(140%);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px auto;
}
.footer_imgs_block{
    width: 244px;
}
.footer_info_wrapper1{
    width: 1282px;
    margin-top: 46px;
}
.footer_imgs_block,
.footer_info_wrapper1{
    display: flex;
    justify-content: space-between;
}
.footer_info_block1 a{
    display: block;
}
.footer_info_block1,
.footer_about_us,
.footer_just_for_u,
.footer_call_number{
    display: flex;
}
.footer_about_us{
    width: 257px;
}
.footer_just_for_u{
    height: 188px;
    width: 224px;
    justify-content: center;
    border-left: 3px solid #F4F4F8;
    border-right: 3px solid #F4F4F8;
}
.footer_call_number{
    width: 340px;
    justify-content: flex-end;
}
.sub_about_us{
    height: 146px;
}
.sub_just_for_u{
    height: 114px;
}
.sub_call_number{
    height: 174px;
}
.sub_about_us,
.sub_just_for_u,
.sub_call_number{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.number_block a,
.timetable_block a,
.street_block a{
    color: burlywood;
    margin-top: 8px;
}
.google_map_block{
    position: relative;
    z-index: 2;
    width: 418px;
    height: 170px;
    margin-top: 18px;
}
.google_map_block img{
    position: absolute;
    top: 0;
    left: 0;
}
.google_map_hover_block{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out;
}
.google_map_hover_block a{
    width: 102px;
    height: 38px;
    border: 2px solid #F4F4F8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
}
.google_map_block:hover .google_map_hover_block{
    opacity: 1;
    visibility: visible;
    transition: .4s ease-in-out;
}
.google_map_hover_block a:hover{
    background-color: #F4F4F8;
    color: #0E0D0D;
    transition: .4s ease-in-out;
}
.product_block{
    display: flex;
    width: 1084px;
    margin: 0px auto;
    margin-top: 144px;
}
.about_product{
    margin: 0px 0px 0px 24px;
}
.about_product_span_1{
    margin-top: 20px;
    display: inline-block;
}
.about_product_p{
    margin-top: 32px;
}
.buy_btn_block{
    margin: 174px 0px 0px 64px;
    height: 175px;
}
.price_volume_block,
.price,
.volume{
    display: flex;
    justify-content: space-between;
}
.price,
.volume{
    flex-direction: column;
}
.price_volume_block{
    width: 200px;
    margin-top: 36px;
}
.price,
.volume{
    height: 59px;
}
.price p,
.volume p{
    margin-top: -6px;
}
.price span{
    margin-top: 12px;
}
.volume span{
    margin-top: 16px;
}
.add_to_Basket{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    background-color: #0E0D0D;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F4F8;
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    transition: .2s ease-in-out;
}
.add_to_Basket:hover{
    background-color: #3d3d3d;
    transition: .2s ease-in-out;
}
.position_absolute_block{
    position: absolute;
    height: 109px;
}
.review{
    color: #3d3d3d;
    transition: .2s ease-in-out;
}
.review:hover{
    color: #3d3d3d;
    transition: .2s ease-in-out;
}
.position_absolute_block{
    width: 282px;
    height: 109px;
    position: absolute;
    top: 734px;
    left: 1220px;
}
.absolute_block{
    display: flex;
    align-items: center;
}
.absolute_mod_1 p{
    margin-left: 10px;
}
.absolute_mod_2{
    justify-content: space-between;
    margin-top: 20px;
    line-height: 30px;
}
.info_about_product_block{
    width: 890px;
    margin: 0px auto;
    margin-top: 274px;
}
.info_about_product_logo{
    width: 360px;
    height: 36px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #0E0D0D;
    margin: 0px auto;
}